

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    height: 100%;
    font-family: Barlow Semi Condensed;
    transition: transformX;
}



body {
    background: radial-gradient(circle, hsl(214, 47%, 23%) 0%, hsl(237, 49%, 15%) 100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    height: 100%;
    flex: 0;

}

.header{
    background-color: transparent;
    width: 680px;
    height: 140px;
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
    border: 4px solid hsl(217, 16%, 45%);
    margin-top: 20px;
    align-items: center;
    margin-bottom: 140px;
}


.header-title{

    height: 80%;
    width: 200px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    padding-top: 14px;
    padding-left: 20px;
    
}
.title-image{
    /*margin-top: -5px;*/
}
.header-score{
    height: 65%;
    width: 130px;
    background-color: white;
    margin-right: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-title{
    padding-top: 17px;
    color: hsl(229, 64%, 46%);
    font-weight: 600;
}
.score-number{
    background-color: transparent;
    width:70%;
    height: 50px;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: hsl(229, 25%, 31%);
    font-weight: bold;
}

.middle{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 80%;
    flex: 0;
    margin-bottom: -70px;
    
    /*display: none;*/
    

}
.middle-space{
    height: 353px;
    width: 298px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;    
    background-image: 
    url('images/bg-triangle.svg');
    background-size: cover;
    background-position: center;
    flex-direction: column;
}
.middle-middle{

    height: 503px;
    width: 433px;
    justify-content: space-between;
    display: flex;
    background-color: transparent;
    align-items: center;
    transition: translateY(100%);
    margin-top: -100px;
}
.background{
    display: none;
}
.middle-middle > button{
    border-radius: 100%;
    height: 155px;
    width: 155px;
    border: none;
    cursor: pointer;
    
}

.middle-bottom{
    background-color: transparent;
    height: 363px;
    width: 253px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}


.scissor{
    box-shadow: 0 0 0 25px hsl(39, 89%, 49%),
    inset 7px 7px  lightgray,
    10px 10px 0 25px hsl(39, 100%, 23%);
    transition: transform 0.5s;
    z-index: 1;
    
}
.scissor:hover{
    transform: scale(1.1);
}

.paper{
    box-shadow: 0 0 0 25px hsl(230, 89%, 65%),
    inset 7px 7px  lightgray,
    10px 10px 0 25px hsl(230, 100%, 38%);
    transition: transform 0.5s;
    border-radius: 100%;
    height: 155px;
    width: 155px;
    border: none;
    z-index: 1;
}
.paper:hover{
    transform: scale(1.1);
}
.rock{
    box-shadow: 
    0 0 0  25px hsl(349, 71%, 52%),
    inset 7px 7px  lightgray,
    10px 10px 0 25px hsl(349, 100%, 25%);
    border-radius: 100%;
    height: 155px;
    width: 155px;
    border: none;
    transition: transform 0.5s;
    cursor: pointer;
}
.rock:hover{
 transform: scale(1.1);
}
.house{
    box-shadow: 
    0 0 0  30px hsl(349, 71%, 52%),
    inset 7px 7px  lightgray,
    10px 10px 0 30px hsl(349, 100%, 25%);
    border-radius: 100%;
    height: 186px;
    width: 186px;
    border: none;
    display: none;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
    animation: house-animation 2s;
    animation-fill-mode: forwards;
    position: absolute;
    margin-left: 420px;

}
@keyframes winner-animation {
    0%{
        box-shadow: 
        0 0 0  30px hsl(349, 71%, 52%),
        inset 7px 7px  lightgray,
        10px 10px 0 30px hsl(349, 100%, 25%);
    }

    100% {
        box-shadow: 
       0 0 0 25px hsl(349, 71%, 52%),
        inset 7px 7px lightgray, 
        10px 10px 0 25px hsl(349, 100%, 25%), 
        6.5px 6.5px 0 65px hsl(215, 47%, 23%), 
        6.5px 6.5px 0 105px hsl(220, 48%, 21%), 
        6.5px 6.5px 0 145px hsl(223, 48%, 20%)
    }
    
}

@keyframes house-animation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}
.middle-middle > button > img {
    transform: scale(1.2);
}
.middle-bottom > button > img{
    transform: scale(1.2);
}
.end{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 20px;
    padding-top: 90px;
}

    .end > button{
        height: 40px;
        border-radius: 6px;
        width: 120px;
        color: white;
        background-color: transparent;
        font-weight: bold;
        font-size: 15px;
        border: 2px solid hsl(217, 16%, 45%);
        cursor: pointer;
        transition: transform 0.3s;
        z-index: 1;
    }
    .end > button:hover{
        transform: scale(1.2);
    }
    .mode{
        background-color: transparent;
        visibility: visible;
    }

    .rule-modal{
        position: absolute;
        z-index: 100;
        background-color: aliceblue;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        font-size: 30px;
        padding: 30px;
        animation-duration: 2s;
        animation-name: modal;
        display: none;
        
    }

    @keyframes modal {
        0% {
        transform: translateY(-200%);
        }
        100% {
        transform: translateY(0);
        }
    }

   .rule-top{
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        font-weight: 600;
    }
    .close-modal{
        background-color: transparent;
        border: none;
        transition: transform 0.3s;
    }

    .close-modal:hover{
        transform: scale(1.2);
    }

    .close-modal>img{
        transform: scale(1.5);
        filter: brightness(50%) contrast(120%);
    }

    .you-picked{
        position: absolute;
        color: aliceblue;
        font-weight: 700;
        font-size: 30px;
        margin-left: -475px;
        margin-top: -350px;
        transition: transform 0.5s;
        animation: house-animation 3s;
        animation-fill-mode: forwards;
        display: none;
        z-index: 100;


    }
    .house-picked{
        display: none;
        color: aliceblue;
        font-weight: 700;
        font-size: 30px;
        position: absolute;
        margin-left: 405px;
        margin-top: -100px;
        transition: transform 0.5s;
        animation: house-animation 3s;
        animation-fill-mode: forwards;
        margin-bottom: 250px;
        z-index: 100;
    }


    .insert{

        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        margin-top: 70px;
        display: none;
        animation: house-animation 2s;
        z-index: 1;
    }
    .win-lose{
        font-size: 45px;
        color: aliceblue;
        margin-bottom: 20px;
        font-weight: 900;
    }
    .play-again{
        width: auto;
        height: auto;
        font-size: 20px;
        border-radius: 15px;
        padding: 15px 50px;
        color: aliceblue;
        background: transparent;
        transition: color 0.3s;
        border: 2px solid hsl(217, 16%, 45%);
        cursor: pointer;
    }
        .play-again:hover{
            color: hsl(214, 47%, 23%);
            background-color:aliceblue ;
        }








.bonus-middle{
    
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 298px;
    background-color: transparent;
    background-image: url('images/bg-pentagon.svg');
    background-size: cover;
    background-position: center;
    height: 313px;
    flex-direction: column;
    position: relative;
    display: none;
}
    .bonus-middle > div {
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .bonus1{
      
        display: flex;
        justify-content: center;
        width: 100%;
        
    }
    .bonus2{
        
        display: flex;
        justify-content: space-between;
        width: 140%;
        align-items: center;
    }
    .bonus3{
  
        display: flex;
        width: 105%;
        justify-content: space-between;
        margin-top: 70px;
        align-items: flex-end;
    }

    .bonus-middle > div > button {
        border-radius: 100%;
        height: 115px;
        width: 115px;
        border: none;
        cursor: pointer;
        transition: transform 0.5s;
    }
    .bonus-middle > div > button:hover{
        transform: scale(1.1);
    }

    .bonus-scissor {
        box-shadow: 0 0 0 20px hsl(39, 89%, 49%),
        inset 5px 5px  lightgray,
        7px 7px 0 20px hsl(39, 100%, 23%);
    }
    .bonus-rock {
        box-shadow: 
        0 0 0  20px hsl(349, 71%, 52%),
        inset 5px 5px  lightgray,
        7px 7px 0 20px hsl(349, 100%, 25%);
    }
    .bonus-paper {
        box-shadow: 
        0 0 0  20px hsl(230, 89%, 65%),
        inset 5px 5px  lightgray,
        7px 7px 0 20px hsl(230, 100%, 38%);
    }
    .bonus-spock{
        box-shadow: 
        0 0 0  20px hsl(189, 59%, 53%),
        inset 5px 5px  lightgray,
        7px 7px 0 20px hsl(189, 100%, 26%);
    }
    .bonus-lizard{
        box-shadow: 
        0 0 0  20px hsl(261, 73%, 60%),
        inset 5px 5px  lightgray,
        7px 7px 0 20px hsl(261, 100%, 34%);
    }

    .you-picked1{
        position: absolute;
        color: aliceblue;
        font-weight: 700;
        font-size: 30px;
        margin-left: -475px;
        margin-top: -250px;
        transition: transform 0.5s;
        animation: house-animation 3s;
        animation-fill-mode: forwards;
        display: none;
        z-index: 100;
        
    }
    .house-picked1{
        display: none;
        color: aliceblue;
        font-weight: 700;
        font-size: 30px;
        position: absolute;
        margin-left: 405px;
        margin-top: 00px;
        transition: transform 0.5s;
        animation: house-animation 3s;
        animation-fill-mode: forwards;
        margin-bottom: 250px;
        z-index: 100;
    }

    .house1{
        box-shadow: 
        0 0 0  30px hsl(349, 71%, 52%),
        inset 7px 7px  lightgray,
        10px 10px 0 30px hsl(349, 100%, 25%);
        border-radius: 100%;
        height: 186px;
        width: 186px;
        border: none;
        display: none;
        justify-content: center;
        align-items: center;
        transition: transform 0.5s;
        animation: house-animation 2s;
        animation-fill-mode: forwards;
        position: absolute;
        margin-left: 420px;
        margin-top: 120px;
    
    }